@import '@economist/component-win-teaser';
@import '@economist/component-font-officina';
@import '@economist/component-font-neutra2';

.world-in-homepage {
  display: flex;
  flex-wrap: wrap;
}

.world-in-homepage .hero__teaser {
  flex: 1 100%;
}

.world-in-homepage .default__teaser {
  width: 31.3%;
  float: left;
}

/* 1 2 (3) 4 5 (6) 7 8 (9)... */
.world-in-homepage .default__teaser:nth-child(3n+3) {
  margin: 0 3%;
}

.world-in-homepage__advert-panel  {
  font-family: "Officina";
  width: 100%;
  display: inline-table;
  margin: 3% 0;
  position: relative;
  order: 2;
}

.world-in-homepage__advert-panel .ad-panel__container {
  background-color: #f0f0f0;
  padding: 3%;
}

.world-in-homepage__advert-panel .ad-panel__title {
  color: var(--color-mid-grey);
}

.world-in-homepage__advert-panel .ad-panel__container iframe {
  margin: 0 auto;
  display: block;
}

.world-in-homepage .default__teaser .teaser__title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px;
}

.world-in-homepage .default__teaser .teaser__text {
  padding: 6% 0;
}

.world-in-homepage .hero__teaser .teaser__group-image {
  overflow: hidden;
}

/* 1 2 3 4 (5) (6) (7) 8 9 10 */
.world-in-homepage .default__teaser:nth-child(n+5):nth-child(-n+7),{
  order: 3;
}

@media screen and (max-width: 790px) {

  .world-in-homepage .default__teaser {
    width: 48.5%;
  }

  /* 1 (2) (3) 4 5 6 7 8 9 10 */
  .world-in-homepage .default__teaser:nth-child(n+2):nth-child(-n+3) {
    order: 1;
  }

  /* 1 (2) 3 (4) 5 (6) 7 (8) 9 (10)... */
  .world-in-homepage .default__teaser:nth-child(2n+2) {
    margin: 0 3% 0 0;
  }

  /* (1) 2 (3) 4 (5) 6 (7) 8 (9) 10... */
  .world-in-homepage .default__teaser:nth-child(2n+1) {
    margin: 0;
  }

  .world-in-homepage__advert-panel {
    order: 2;
    margin-bottom: 5%;
  }

  /* 1 2 3 (4) (5) (6) (7) (8) (9) (10)... */
  .world-in-homepage .default__teaser:nth-child(n+4) {
    order: 3;
  }

}

@media screen and (max-width: 560px) {

  /* Specificity override :( */
  .world-in-homepage .default__teaser:nth-child(n) {
    margin: 0;
    width: 100%;
  }

  .world-in-homepage__advert-panel {
    margin-bottom: 12%;
  }

}

@media screen and (max-width: 480px) {
  .world-in-homepage .hero__teaser .teaser__img  {
    width: 175%;
    transform: translateX(-25%);
  }
}
